﻿@model Library.Model.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Personal Information</h2>

<div>
    <hr />
    <p align=RIGHT>
        @Html.ActionLink("Modify", "Edit", new { id = Model.UserId })
    </p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("First Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayName("Last Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayName("Address")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayName("Email Address")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddr)
        </dd>
        <dt>
            @Html.DisplayName("Contact Number")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
    </dl>
</div>


<table class="table" align="center">
    <tr>
        <th>
            @Html.DisplayName("Leave Type")
        </th>
        <th>
            @Html.DisplayName("Total Leave Allocated")
        </th>
        <th>
            @Html.DisplayName("Total Leave Taken")
        </th>
        <th>
            @Html.DisplayName("Start Date")
        </th>
        <th>
            @Html.DisplayName("End Date")
        </th>
        <th>
            @Html.DisplayName("Balance")
        </th>
    </tr>

    @foreach (var item in @ViewBag.LeaveAllowance)
    {
        <tr>
            <td>
                @item.TypeOfLeave.Name
            </td>
            <td>
                @item.TypeOfLeave.AllowanceLeave
            </td>
            <td>
                @{
                    var alowance = @item.TypeOfLeave.AllowanceLeave;
                    var remaining = @item.LeaveRemaining;

                    var taken = alowance - remaining;
                    string staken = taken.ToString();
                }
                @Html.DisplayFor(model => staken)

            </td>
            <td>
                @item.StartedDate.ToShortDateString()
            </td>
            <td>
                @if (@item.ExpiredDate != null)
                {
                    @item.ExpiredDate.ToShortDateString();
                }
            </td>
            <td>
                @item.LeaveRemaining
            </td>
        </tr>
                    }
</table>
