﻿@{
    ViewBag.Title = "New Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>


<style>
    [type~=date] {
        position: relative;
        width: 150px;
        height: 30px;
        color: white;
    }

        [type~=date]:before {
            position: absolute;
            top: 3px;
            left: 3px;
            content: attr(data-date);
            display: inline-block;
            color: black;
        }

        [type~=date]::-webkit-datetime-edit, [type~=date]::-webkit-inner-spin-button, [type~=date]::-webkit-clear-button {
            display: none;
        }

        [type~=date]::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 3px;
            right: 0;
            color: black;
            opacity: 1;
        }
</style>

<h2>Approve Leave Request</h2>
<hr />
<p align="right">
    @Html.ActionLink("Leave Policy", "Policy")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>From Employee:</td>
            <td>
                @ViewBag.LeaveRequest.User.LastName 
                @ViewBag.LeaveRequest.User.FirstName
               
            </td>
        </tr>
        <tr>
            <td>Leave Type:</td>
            <td>
                @ViewBag.LeaveRequest.TypeOfLeave.Name

            </td>
        </tr>
        <tr>
            <td>
                Start Date:
            </td>
            <td>
                @*<input id="birthDate" type="date" data-date-format="DD MMMM YYYY">*@
                <input name="startDate" id="startDate" type="date" data-date-format="DD MMMM YYYY" value="@ViewBag.LeaveRequest.FromDate.Date" disabled="disabled">
                @*<input name="startDate" id="startDate" type="date" data-date-format="DD MMMM YYY" disabled="disabled">
           
                @Html.Raw(Json.Encode(ViewBag.LeaveRequest.FromDate.ToString("yyyy-MM-dd")))*@
            </td>
        </tr>
        <tr>
            <td>
                End Date:
            </td>
            <td>
                <input name="endDate" id="endDate" type="date" data-date-format="DD MMMM YYYY" value="@ViewBag.LeaveRequest.ToDate.Date" disabled="disabled">
            </td>
        </tr>
        <tr>
                <td>
                    Absent Days:
                </td>
                <td>
                    @if (ViewBag.LeaveRequest.IsHaftDay != null && ViewBag.LeaveRequest.IsHaftDay)
                    {
                        <input name="absentDay" id="absentDay" type="text" style="width:100px" disabled value="0.5" />
                    }
                    else
                    {
                        <input name="absentDay" id="absentDay" type="text" style="width:100px" disabled />
                    }
                    
                    
                </td>
            </tr>
        @if (ViewBag.LeaveRequest.IsFirstHaft != null && ViewBag.LeaveRequest.IsFirstHaft)
        {
            <tr id="firsthalf">
                <td> </td>
                <td><input type="checkbox" name="isfirsthalf" value="First Half" checked="checked" disabled="disabled">First Half</td>
            </tr>
        }
        @if (ViewBag.LeaveRequest.IsSecondHaft != null && ViewBag.LeaveRequest.IsSecondHaft)
        {
            <tr id="secondhalf">
                <td> </td>
                <td><input type="checkbox" name="isSecondHalf" value="Second Half" checked="checked" disabled="disabled">Second Half</td>
            </tr>
        }
        
        <tr>
            <td>
                Comment:
            </td>
            <td>
                @ViewBag.LeaveRequest.LeaveDescription
                
            </td>
        </tr>
        @*<tr>
            <td></td>
            <td>
                <p style="color:red">(Max 500 Chars)</p>
            </td>
        </tr>*@
        <tr>
            <td>
                Attachment:
            </td>
            <td>
                @*<input type="file" value="csd" /> <br />*@
            </td>
        </tr>
        <tr>
            <td>Approve/Reject note<em style="color:red">*</em> :</td>
            <td>
                <textarea name="approvercomment" style="width: 400px; height: 150px"></textarea>
                @*<p style="color:red">(Maximum file size for each file is 15MB)</p>*@
            </td>
        </tr>
    </table>
    <br/>
    <input type="hidden" value=@ViewBag.LeaveRequest.LeaveRequestId name="LeaveRequestId" />
    @Html.Hidden("approve", true)
    <input type="submit" value="Approve"
           onclick="$('#approve').val(true); return true" />
    <input type="submit" value="Reject"
           onclick="$('#approve').val(false); return true;" />

    @*<input type="submit" name="Aprrove" value="Approve" />
    <input type="submit" name="Reject" value="Reject" />*@
    @*<input type="button" value="Back" />*@
    
    
}

 

<script>
    //Set init time
    $(document).ready(function () {
        var fromDate = @Html.Raw(Json.Encode(ViewBag.LeaveRequest.FromDate.ToString("yyyy-MM-dd")));
        var toDate = @Html.Raw(Json.Encode(ViewBag.LeaveRequest.ToDate.ToString("yyyy-MM-dd")));

        $('#startDate').val(moment().format('YYYY-MM-DD'));
        $("#startDate").on("change", function () {
            this.setAttribute("data-date", moment(fromDate, "YYYY-MM-DD").format(this.getAttribute("data-date-format")))

        }).trigger("change")

        $('#endDate').val(moment().format('YYYY-MM-DD'));
        $("#endDate").on("change", function () {
            this.setAttribute("data-date", moment(toDate, "YYYY-MM-DD").format(this.getAttribute("data-date-format")))

        }).trigger("change")


        var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        var startDate = new Date(fromDate);
        var endDate = new Date(toDate);

        var absentDays = document.getElementById("absentDay");
        if (endDate > startDate) {
            var check = Math.round((endDate.getTime() - startDate.getTime()) / (oneDay));
            absentDays.value = check;
        }
       
    });
</script>

