﻿@{
    //ViewBag.Title = "Leave Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- HTML for SEARCH BAR -->
<div id="tfheader">
    <form id="tfnewsearch" method="get">
        <input type="text" class="tftextinput" name="name" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
    </form>
    <div class="tfclear"></div>
</div>

<p align="left">
    @Html.ActionLink("New Request", "NewRequest")
</p>
<p align="left">
    @Html.ActionLink("Summary", "Summary")
</p>


@if (ViewBag.ResultList != null && ViewBag.ResultList.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("UserID")
            </th>
            <th>
                @Html.DisplayName("Full Name")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
        @{
    int i = 0;
    foreach (var user in ViewBag.ResultList)
    {
        //string rowid = "idrow" + i;
        <tr>
            <td>
                @user.UserId
            </td>
            <td>
                @user.LastName @user.FirstName
            </td>
            <td>
                @user.EmailAddr
            </td>
            <td>
                <input type="button" value="Raise Leave Request" onclick="submitRowAsForm(@user.UserId)" />@**@
            </td>
        </tr>
    }
        }

        

    </table>
}
   
<script type="text/javascript">
    function myFunction() {
        alert("I am an alert box!");
    }
    function submitRowAsForm(userId) {
        form = document.createElement("form"); // CREATE A NEW FORM TO DUMP ELEMENTS INTO FOR SUBMISSIO
        form.method = "post"; // CHOOSE FORM SUBMISSION METHOD, "GET" OR "POST"
        //form.action = ""; // TELL THE FORM WHAT PAGE TO SUBMIT TO
        inputValue = document.createElement("input");
        inputValue.type = "text";
        inputValue.name = "UserId";
        inputValue.value = userId;
        form.appendChild(inputValue);
        form.submit(); // NOW SUBMIT THE FORM THAT WE'VE JUST CREATED AND POPULATED
    }
</script>
<style type="text/css">
    #tfheader {
        background-color: #c3dfef;
    }

    #tfnewsearch {
        float: right;
        padding: 20px;
    }

    .tftextinput {
        margin: 0;
        padding: 5px 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        border: 1px solid #0076a3;
        border-right: 0px;
        border-top-left-radius: 5px 5px;
        border-bottom-left-radius: 5px 5px;
    }

    .tfbutton {
        margin: 0;
        padding: 5px 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        border: solid 1px #0076a3;
        border-right: 0px;
        background: #0095cd;
        background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
        background: -moz-linear-gradient(top, #00adee, #0078a5);
        border-top-right-radius: 5px 5px;
        border-bottom-right-radius: 5px 5px;
    }

        .tfbutton:hover {
            text-decoration: none;
            background: #007ead;
            background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
            background: -moz-linear-gradient(top, #0095cc, #00678e);
        }
        /* Fixes submit button height problem in Firefox */
        .tfbutton::-moz-focus-inner {
            border: 0;
        }

    .tfclear {
        clear: both;
    }
</style>

