@model Library.Model.User

@{
    ViewBag.Title = "Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Policies</h2>

<pre id="result-source" class="sh_html sh_sourceCode" contenteditable="true">    1 OBJECTIVE AND PURPOSE
    2 LEAVE TYPE
        2.1 Public Holidays
        2.2 Annual Leave
        2.3 Full Paid Leaves for Personal Affairs
        2.4 Unpaid Leave
        2.5 Long Service Leave Rewards
        2.6 Sick Leaves
        2.7 Female Associates &amp; Associate taking care of children (FA)
        2.8 Sabbatical leave
    3 ELIGIBILITY OF LEAVES
    4 ATTACHMENT
</pre>

<p><strong>1 OBJECTIVE AND PURPOSE</strong></p>
<p>This policy is applicable for all full-time regular Associates with local contract, including foreigners with local contract and VN.</p>
<p>This policy is applicable for temporary employee on pro-rata basis, and it is not applicable for interns. To provide guidelines on Leave entitlement and the applications for all eligible Associates.</p>
<p><strong>2 LEAVE TYPE</strong></p>
<p><strong> 2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Public Holidays <em>(PH)</em></strong></p>
<p>Associates shall be entitled to full-paid leaves in the following PHs during the year, namely:</p>
<table border="1">
    <tbody>
        <tr>
            <td width="147">
                <p><strong>Public holidays</strong></p>
            </td>
            <td width="98">
                <p><strong>PH Entitlement</strong></p>
            </td>
            <td width="409">
                <p><strong>Remark</strong></p>
            </td>
        </tr>
        <tr>
            <td width="147">
                <p><strong>New Year's Day</strong></p>
            </td>
            <td width="98">
                <p><strong>01 day</strong></p>
            </td>
            <td width="409">
                <p>1<sup>st</sup> January of each calendar year</p>
            </td>
        </tr>
        <tr>
            <td width="147">
                <p><strong>Tet Holidays</strong></p>
            </td>
            <td width="98">
                <p><strong>04 days</strong></p>
            </td>
            <td width="409">
                <p>New Year's Eve and the first three days of lunar year</p>
            </td>
        </tr>
        <tr>
            <td width="147">
                <p><strong>Hung Kings <br /> Commemoration <br /> Day</strong></p>
            </td>
            <td width="98">
                <p><strong>01 day</strong></p>
            </td>
            <td width="409">
                <p>10<sup>th</sup> in the Third month of lunar year</p>
            </td>
        </tr>
        <tr>
            <td width="147">
                <p><strong>Victory Day</strong></p>
            </td>
            <td width="98">
                <p><strong>01 day</strong></p>
            </td>
            <td width="409">
                <p>30<sup>th</sup> April of each calendar year</p>
            </td>
        </tr>
        <tr>
            <td width="147">
                <p><strong>International Labor <br /> Day</strong></p>
            </td>
            <td width="98">
                <p><strong>01 day</strong></p>
            </td>
            <td width="409">
                <p>1<sup>st</sup> May of calendar year</p>
            </td>
        </tr>
        <tr>
            <td width="147">
                <p><strong>National Day</strong></p>
            </td>
            <td width="98">
                <p><strong>01 day</strong></p>
            </td>
            <td width="409">
                <p>2<sup>nd</sup> September of calendar year</p>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>In case any of the aforesaid PH falls on a rest day and/or non working day, the management shall inform the associate the compensated day off in advance.</p>
<p>In case any of the aforesaid PH falls on a day in sick leaves, maternity leaves, paid leaves or unpaid leaves of any Associate, the Associate concerned shall not be entitled to either any day off or any payment thereof in compensation.</p>
<p>Local Associate during the international training/assignment will follow the PH leave policy applicable in the host country.</p>

<p><strong>2.2 Annual Leave (AL)</strong></p>
<p><strong>Entitlement of Annual Leave</strong></p>
<p>All eligible Associates are entitled to paid Annual Leave based on the below job grade for a full service year, otherwise AL entitlement will be calculated on pro-rata basis.</p>
<p>In case the job grade of an Associate is changed, his/her AL days shall be adjusted respectively to suit with the new one.</p>
<table border="1">
    <tbody>
        <tr>
            <td width="116">
                <p><strong>Salary <br /> Grade</strong></p>
            </td>
            <td width="72">
                <p>Years of Service</p>
            </td>
            <td width="117">
                <p>Annual Leave Entitlement</p>
            </td>
            <td width="63">
                <p>Years of Service</p>
            </td>
            <td width="254">
                <p>Annual Leave Entitlement</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p>Ul</p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p><strong>12 working days</strong></p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>U2</strong></p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p><strong>13 working days</strong></p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>U3 - U4</strong></p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p><strong>14 working days</strong></p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>El</strong></p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p>&nbsp;</p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>L48 - L51</strong></p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p><strong>15 working days</strong></p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>E2</strong></p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p>&nbsp;</p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>One additional AL will be added after</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>L52</strong></p>
            </td>
            <td rowspan="2" width="72">
                <p><strong>&lt;=3 years</strong></p>
            </td>
            <td width="117">
                <p><strong>16 working days</strong></p>
            </td>
            <td rowspan="2" width="63">
                <p><strong>&gt;3 years</strong></p>
            </td>
            <td rowspan="2" width="254">
                <p>every 3 working years with the company capped at 25 AL days/year</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>M1</strong></p>
            </td>
            <td width="117">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>L53</strong></p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p><strong>17 working days</strong></p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>M2</strong></p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p>&nbsp;</p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>L54</strong></p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p><strong>18 working days</strong></p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>SL1 (Local)</strong></p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p>&nbsp;</p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="116">
                <p><strong>L55, 56</strong></p>
            </td>
            <td width="72">
                <p>&nbsp;</p>
            </td>
            <td width="117">
                <p><strong>20 working days</strong></p>
            </td>
            <td width="63">
                <p>&nbsp;</p>
            </td>
            <td width="254">
                <p>&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>Associates working in special noxious, dangerous environment, doing special heavy works will have 04 more annual leave days per year under such standards as prescribed by Ministry of Sciences and Technologies and Ministry of Public Health.</p>
<p><strong>Pro-ration of Annual Leave</strong></p>
<p>In the event an associate join/resign on or before the 15<sup>th</sup> of the month, annual leave entitlement shall be calculated on a pro-rated basis.</p>
<p><strong>Annual Leave during Probation Period</strong></p>
<p>No Associate under probation will be eligible to apply AL. Upon successful completion of the stipulated probationary period, Associate will be eligible to apply AL. Advanced AL application is not allowed.</p>

<p>Carry Forward Annual Leave</p>
<p>Annual leave entitlement for the current year may be accumulated and carried forward to the following year <br /> not later than 30 June. Annual leave not taken thereafter shall be forfeited and no compensation shall be</p>
<p>considered.</p>
<p>Any exception to the above clause shall be approved on a case to case basis by the management (GM/PM, HOD and H RM)</p>
<p>Encashment of Annual Leave</p>
<p>Annual Leave Balance by last working day for resigned associate (voluntary and/or involuntary) will be encashed and paid to the Associate together with his/her final payment.</p>
<p>Subject to mutual agreement between the HOD and the Associate, annual leave can be used to offset the notice period.</p>
<p>Special Case</p>
<p>Any Associate who has to work during his/her registered annual leave schedule due to job demand with the approval of his/her superior shall be entitled to receiving a further payment of 200% his/her daily basic pay for each and every working day during such an annual leave schedule.</p>
<p>An alternate option to compensate the annual leave can be considered upon agreement from all HODS and Associate.</p>
<table>
    <tbody>
        <tr>
            <td width="576">
                <p>2.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Full Paid Leaves for Personal Affairs (FB)</p>
                <p>1 Based on the law: any Associates shall be entitled to full paid leaves in the following cases: Marriage Leave</p>
                <p>His/her own legal 1st marriage</p>
                <p>Marriage of his/her legal children</p>
                <p>Bereavement Leave</p>
                <p>Death of his/her parents (including his/her parents-in-law),</p>
                <p>his/her spouse or his/her legal child</p>
                <p>2 According to company regulation:</p>
                <p>Death of his/her grand-parents (paternal as well as maternal side),</p>
                <p>including grand-parents of his/her spouse, or death of any of his/her legal siblings</p>
                <p>Paternity Leave:</p>
                <p>As for male Associate, wife's delivery baby</p>
            </td>
            <td width="89">
                <p>: 03 days : 01 day</p>
                <p>: 03 days</p>
                <p>:01 day</p>
                <p>: 01 day</p>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>

<p>Birthday Leave: Leave to be taken on the actual birthday or within a month if business requires For example: If birthday is on 1 April, then the off day can be taken from 1 April to 30 April. If birthday is on 15 April, then the off day can be taken from 15 April to 15 May. No extension is allowed. The off day will be forfeited if no use within the time frame. <br />: 01 day <br />2.4 Unpaid Leave (UP) The associate may apply for unpaid leave in the following cases: &bull; His/her family member, including his/her own and spousal parents and his/her legal spouse, gets sick and in need of personal care. &bull; Such other cases as deemed reasonable and approved by the relevant HODS. <br />Limitation: In all cases, unpaid leaves shall not be applicable for resigned associates or those who have tendered their resignation with the company. The approved Unpaid Leave period shall not exceed 30 accumulated working days within one year. <br />2.5 Long Service Leave Rewards (LS) The associate can get a chance to take one of the following reward leaves to commemorate the day they started working at the company. Employees who have served the Company for: <br />- Twenty (20) years: Two (02) months' basic salary plus four (04) working days off. - Fifteen (15) years: One and a half (1.5) month's basic salary plus three (03) working days off. - Ten (10) years: One (01) months' basic salary plus two (02) working days off. - Five (05) years: Half (0.5) month's basic salary plus one (1.0) working day off. <br />It keeps going on for every 5 additional years. " The reward amount will be subject to personal income tax (PIT). <br />2.6 Sick Leaves (SL) Associates shall be entitled to sick leaves in accordance with their length of services in Company: 30 sick leave days per year as for those who has paid Social Insurance for under 15 years, 40 sick leave days as for those who has paid Social Insurance for 15 full years up to under 30 years, and 60 sick leave days as for those who has paid Social Insurance for premium full 30 years or more. </p>

<p>Staff having child under 7 years old at sick needing a leave to look after the child is entitled to having a leave of maximum of 20 working days if the child is below 3 years old; 15 working days if the child is from 3 (inclusive) to 7 (exclusive) years old. Sick leave must be endorsed by healthcare unit.</p>
<p>In case any Associate gets sick during his/her taken annual leave, he/she shall not be entitled either to any additional annual leave or any day off in compensation.</p>
<p>A leave due to illness, accident caused by self-injuring, influence of alcohol or using narcotics, other addictive materials will not enjoy an insurance benefit.</p>
<p>A staff entitled to a sick leave will receive insurance benefit paid by Social Insurance Company with the amount equal to 75% of the base-salary paid to social insurance for the month immediately prior to the time that the leave is taken. A staff entitled to a sick leave benefit in the first month of social insurance enrollment,</p>
<p>will receive 75% of the base-salary paid to social insurance in the month in question.</p>
<p>For all sick leave applications, the Associate must give notice thereof to his/her Head of Division within 48 hours; otherwise such sick leave shall be deemed as a leave without acceptable reason.</p>
<p>Besides, other cases by which a staff takes sick leave or not mentioned herein will follow the laws and social insurance regulation.</p>
<p><strong>2.7 Female Associates &amp; Associate taking care of children (FA)</strong></p>
<p><strong>Maternity Leave</strong></p>
<p>A female Associate who has paid Social Insurance through Company for 06 full months or over shall be entitled to taking maternity leave within 12 months prior to her delivery under such conditions as follow:</p>
<p>- Prenatal check-up as prescribed, 05 days/pregnancy; - Sick leave in case of miscarriage as prescribed;</p>
<p>- Maternal leave as prescribed;</p>
<p>Besides, the female Associate who works under 3 shifts regular will entitle to 60 minutes per day with full payment. Duration of leave will be counted from 30th week round till 41st week round of gestation. Leaving time will be accumulated to the end of gestation period (maximum is 8 days).</p>

<p><strong>Children Care Leave</strong></p>
<p>Any Associate shall be entitled to taking leave for caring her children in illness according to provisions of the Labor Code, provided that she must apply for such a leave and submit medical certification attested by competent doctors thereafter.</p>
<p>Taking leave for caring his or her children in illness, the Associate concerned shall not be entitled to receiving his/her salary but shall declare his/her status to receive benefits under such provisions prescribed by insurance authority.</p>
<p><strong>Lactation Leave</strong></p>
<p>Any female Associate with her child of under 12 months old shall be entitled to applying for either one of the following registered entitlements as follow:</p>
<ul>
    <li>Late presence at work of 60 minutes every day; - Early return from work of 60 minutes every day; - One day off for every 07 working days.</li>
</ul>
<p>The registration for Lactation leave should be submitted to HOD 5 working days in advance to ensure the smooth operation of the department in terms of capacity. This leave is applicable for all children born.</p>
<p><strong>2.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong>Sabbatical leave (SL)</strong></p>
<p>The Sabbatical Leave is a special facility to the associates in order to enable them to update their knowledge and experience so that they will be of greater use to the organization on their rejoining.</p>
<p>Sabbatical Leave shall be admissible to the associate after the completion of 3 years of continuous service, or more with the organization. The period of Sabbatical Leave shall not exceed two (2) years and shall not exceed three times during the entire service of such a member. Sabbatical Leave shall not be granted for less than 6 months for each occasion and should be utilized continuously.</p>
<p>The application should be applied 3 months in advance to the relevant HOD for approval to ensure the smooth of business operation in term of capacity and replacement. The HOD has full rights to reject the application should it not fit in the department business situation.</p>

<p>As there is a guarantee return to the position, Associate must commit to working for the company a period of minimum 3 years after returning from his/her sabbatical leave.</p>
<p><strong>3 ELIGIBILITY OF LEAVES</strong></p>
<p>Prior approval (at least 5 working days in advance) from HOD must be acquired in any case of leave. In cases of any inevitable unscheduled leave, the Associate concerned or his/her family member must give prompt notice thereof to the Head of his/her division.</p>
<p>Taking such paid leaves as above specified, the Associate concerned must submit to Human Resources Department certified copies of the originals of proper documentation instruments: Child's Birth Certificate, Death Certificate, Marriage Certificates, etc...</p>
<p>For maternity leave, the leave application should be submitted to HOD at least 30 working days in advance to ensure the smooth operation of the department in terms of capacity and replacement.</p>
<p>To apply for Leave, an Associate must:</p>
<ol>
    <li>Submit a completed Leave Application Form for HOD's approval.</li>
    <li>Forward the approved Leave Application Form and all legal documents required for certain kind of the</li>
</ol>
<p>above mentioned leave to HR for verification and recording and for payment claiming process.</p>
<p><strong>4 ATTACHMENT <br /> </strong>Leave Application Form</p>