﻿@{
    ViewBag.Title = "Raise and Approve Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

<style>
    [type~=date] {
        position: relative;
        width: 150px;
        height: 30px;
        color: white;
    }

        [type~=date]:before {
            position: absolute;
            top: 3px;
            left: 3px;
            content: attr(data-date);
            display: inline-block;
            color: black;
        }

        [type~=date]::-webkit-datetime-edit, [type~=date]::-webkit-inner-spin-button, [type~=date]::-webkit-clear-button {
            display: none;
        }

        [type~=date]::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 3px;
            right: 0;
            color: black;
            opacity: 1;
        }
</style>

<h2>Raise and Approve Leave</h2>
<hr />
<p align="right">
    @Html.ActionLink("Leave Policy", "Policy")
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "requestForm" }))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>From Employee:</td>
            <td>
                @ViewBag.TargetEmployee.LastName
                @ViewBag.TargetEmployee.FirstName

            </td>
        </tr>
        <tr>
            <td>Type of Leave<em style="color:red">*</em> :</td>
            <td>
                <select name="leaveType">
                    @foreach (var item in @ViewBag.TypeOfLeaves)
                    {
                        <option value=@item.LeaveTypeId>@item.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Start Date<em style="color:red">*</em> :
            </td>
            <td><input name="startDate" id="startDate" type="date" data-date-format="DD MMMM YYYY"></td>
        </tr>
        <tr>
            <td>
                End Date<em style="color:red">*</em> :
            </td>
            <td>
                <input name="endDate" id="endDate" type="date" data-date-format="DD MMMM YYYY">
                <label id="isHalfDay" style="display:none"><input name="isHalfDay" type="checkbox" onclick="mycheck(this)" value="false" />isHalfDay</label>
                <label id="isFirstHalf" style="display:none"><input name="isFirstHalf" type="checkbox" value="false" />isFirstHalf</label>
            </td>
        </tr>
        <tr>
            <td>
                Absent Days:
            </td>
            <td>
                <input name="absentDay" id="absentDay" type="text" readonly style="display:block; width:400px" />
            </td>
        </tr>
        <tr>
            <td>
                Comments<em style="color:red">*</em> :
            </td>
            <td>
                <textarea name="comments" style="width: 400px; height: 150px"></textarea>
            </td>
        </tr>
        @*<tr>
                <td></td>
                <td>
                    <p style="color:red">(Max 500 Chars)</p>
                </td>
            </tr>
            <tr>
                <td>
                    Attachment:
                </td>
                <td>
                    <input type="file"/> <br />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p style="color:red">(Maximum file size for each file is 15MB)</p>
                </td>
            </tr>*@
    </table>
    <input type="hidden" value=@ViewBag.TargetEmployee.UserId name="employeeId" />
    <input type="submit" value="Approve This Leave" />
    
}

<script>

    //Set init time
    $('#startDate').val(moment().format('YYYY-MM-DD'));
    $("#startDate").on("change", function () {
        this.setAttribute("data-date", moment(this.value, "YYYY-MM-DD").format(this.getAttribute("data-date-format")))
    }).trigger("change")

    $('#endDate').val(moment().format('YYYY-MM-DD'));
    $("#endDate").on("change", function () {

        this.setAttribute("data-date", moment(this.value, "YYYY-MM-DD").format(this.getAttribute("data-date-format")))

        //Check endDate must be greater than startDate
        var startDate = new Date($("#startDate").val()).toLocaleDateString();
        var endDate = new Date($("#endDate").val()).toLocaleDateString();
        var totalLeave = 0;
        document.getElementById("absentDay").value = null;

        if (endDate >= startDate) {
            if (endDate > startDate) {

                var holidays = @Html.Raw(Json.Encode(ViewBag.Holidays));

                var actualDates = new Array();
                for(var i=0; i<holidays.length; i++)
                {
                    var actualDate = new Date(parseInt(holidays[i].ActualDate.substr(6)));
                    actualDates.push(actualDate.toLocaleDateString());
                }

                while (endDate >= startDate) {
                    var currentDate = new Date(startDate);

                    //Just show working day
                    if(actualDates.indexOf(startDate)==-1 && currentDate.getDay() % 6)
                    {
                        totalLeave++;
                    }

                    var newDate = currentDate.setDate(currentDate.getDate() + 1);
                    startDate = new Date(newDate).toLocaleDateString();
                }

                document.getElementById("isHalfDay").style.display = "none";
                document.getElementById("isFirstHalf").style.display = "none";
            }
            else
            {
                totalLeave++;
                document.getElementById("isHalfDay").style.display = "block";
            }

            document.getElementById("absentDay").value = totalLeave;
        }
        else {
            document.getElementById("absentDay").value = "EndDate must be greater than StartDate";
            document.getElementById("isHalfDay").style.display = "none";
            document.getElementById("isFirstHalf").style.display = "none";
        }

    }).trigger("change")

    function mycheck(cb) {
        if (cb.checked) {
            document.getElementById("isFirstHalf").style.display = "block";
        } else {
            document.getElementById("isFirstHalf").style.display = "none";
        }
    }

    $("#requestForm").submit(function (event) {
        if (endDate < startDate) {
            event.preventDefault();
        }
    });

</script>