﻿@model IEnumerable<Library.Model.LeaveRequest>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Summary</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Leave Request")
        </th>
        <th>
            @Html.DisplayName("Leave Type")
        </th>
        <th>
            @Html.DisplayName("Total Leaves")
        </th>
        <th>
            @Html.DisplayName("Start Date")
        </th>
        <th>
            @Html.DisplayName("End Date")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Comments")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveRequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfLeave.Name)
            </td>
            <td>
                @Html.DisplayTextFor(model => item.TotalLeave)
            </td>
            <td>
                @{
                    string sDate = item.FromDate.ToShortDateString();
                    @Html.DisplayTextFor(model => sDate)
                }
            </td>
            <td>
                @{
                    string eDate = item.ToDate.ToShortDateString();
                    @Html.DisplayTextFor(model => eDate)
                }
            </td>
            <td>
                @{
                    string state = "";
                    switch (item.RequestStatus)
                    {
                        case 0:
                            state = "New";
                            break;
                        case 1:
                            state = "Approved";
                            break;
                        case 2:
                            state = "Rejected";
                            break;
                        case 3:
                            state = "Cancelled";
                            break;
                    }
                    @Html.DisplayTextFor(model => state)

                }



            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDescription)
            </td>


        </tr>
                    }

</table>