<ul class="nav navbar-nav navbar-right">
    <li style="color: #FFFFFF; padding-top: 15px;">Hello @Model</li> 
    <li>@Html.ActionLink("Log out", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
